# Logs
logs
**/*.log
**/*.log*

# Directorios y dependencias
node_modules
test/*
otros/*
.vscode
test.js
log/*
# Archivo de configuración producción y test en .JSON
*.json

# Archivos ocultos
.hg

# Archivos .exe o .zip
*.exe
*.zip